<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


<bean class="com.skbr.Car"></bean>

<!-- Using binary form for the inner class name -->
<bean class="com.skbr.Car$Engine"></bean>

<bean class="com.skbr.Mobile"></bean>

<bean class="com.skbr.LaptopFactory" factory-method="createInstance"></bean>

<bean id="desktopFactory" class="com.skbr.DesktopFactory" ></bean>
<bean factory-bean="desktopFactory" factory-method="createInstance" ></bean>
</beans>
