<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean class="com.skbr.EmployeeDirectoryService" autowire="byType"></bean>
<bean class="com.skbr.EmployeeCreationService" autowire="byType"></bean>
<bean class="com.skbr.EmployeeDao" scope="singleton"></bean>


<bean class="com.skbr.Battery" scope="prototype"></bean>
<bean id="nokia" class="com.skbr.Mobile" autowire="byType"></bean>
<bean id="samsung" class="com.skbr.Mobile" autowire="byType"></bean>


</beans>
